body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2e2e2e;
}

.container {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  padding: 2rem;
}

.cards-container:hover > .card {
  /* only hover over cards container creates effect */
  background: radial-gradient(
    /* width, form and position of gradient in box*/ 100rem circle at var(--xPosition) var(--yPosition),
    /* color with opacity */ rgba(255, 196, 0, 0.4),
    transparent 15%
  );
}

.card {
  position: relative;
  display: grid;
  place-items: center;
  width: 20rem;
  height: 15rem;
  border-radius: 4px;
  transition: all 0.2s;
}

/* gradient effect over card content, BUT only if mouse hovers over this card */
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: radial-gradient(
    60rem circle at var(--xPosition) var(--yPosition),
    rgba(255, 196, 0, 0.05),
    transparent 35%
  );
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.card:hover::before {
  opacity: 1;
}

/* card shrinks on hover */
.card:hover {
  transform: scale(0.98);
}

.card__content {
  --card-border: 4px;
  background-color: #282829;
  border-radius: inherit;
  transition: all 0.3s;
  /* content is smaller than card to show border animation effect */
  width: calc(100% - var(--card-border));
  height: calc(100% - var(--card-border));
}
